.days
{
	font-size: 20px;
	color: red;
}

#errorsdiv
{
	font-size: 20px;
	color: red;
}

hr.style6
{
	background-color: #26a69a;
	border-top: 2px solid #26a69a;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

body
{
	font-size: 105% !important;
}